/*  SIDEBAR  */
    .sidebar__content {
      display: flex;
      justify-content: center;
      background-color: #262B33;
      width: 23%;
      min-width: 325px;
    }

    .sidebar__nav {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      align-content: space-around;
      width: 90%;
    }

    .sidebar__list {
      display: flex;
      width: 50%;
      justify-content: space-around;
    }

    .sidebar__row {
      display: flex;
      justify-content: center;
    }

    .sidebar__break {
      width: 80%;
      border-bottom: 1px solid white;
      border-radius: 75%;
    }
    /*  --- Sidebar Chatroom Styles  ---  */
        .chatroom__list {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
        }

        .chatroom__item {
          display: flex;
          justify-content: space-around;
          width: 90%;
        }

        .chatroom__icon {
          font-size: 50px;
          line-height: 50px;
        }

        .chatroom__chatroom {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          text-decoration: none;
          height: 8vh;
          border-bottom: 1px solid white;
          outline: none;
        }

        .chatroom__form {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          text-decoration: none;
          width: 100%;
          height: 8vh;
          border-bottom: 1px solid white;
        }

        .chatroom__new {
          display: flex;
          justify-content: center;
          width: 90%;
        }

        .chatroom__cta-new {
          background: none;
          border: none;
        }

        .chatroom__cta-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .chatroom__cta-close {
          background: none;
          outline: none;
          border: none;
          line-height: 20px;

        }
        .chatroom__close {
          margin: auto;
          font-size: 20px;
          color: #909090;
        }

        .chatroom__close:hover {
          color: white !important;
        }

        .chatroom__new-cta {
          display: flex;
          align-items: center;
          font-size: 35px;
        }

        .chatroom__new-cta:hover {
          color: white !important;
        }
    /*  ---  End Sidebar Chats  ---  */

    /*  ---  Sidebar Profile  ---  */
        .profile__submit {
          position: absolute;
          left: -9999px;
          width: 1px;
          height: 1px;
        }

    /*  ---  End Sidebar Profile  ---  */

    /*  ---  Sidebar Icons  ---  */
        .icon__button {
          font-size: 30px;
          line-height: 30px;
          border: none;
        }
    /*  ---  End Sidebar Icons  ---  */
/*  END SIDEBAR */


/*  LANDING */
  .landing__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing__container {
    align-self: center;
    width: 50%;
    margin: auto 0;
    border-radius: 5px;
  }
/*  END LANDING */



/*  CHAT AREA  */
    .chat__container {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 85%;
    }

    .chat__display {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      width: 95%;
      height: 100%;
      overflow: auto !important;
      scrollbar-width: thin;
    }
    /*  ---  Scroll Bar Styles  ---  */
        .chat__display-scroll::-webkit-scrollbar {
          width: 7px;
        }

        .chat__display-scroll::-webkit-scrollbar:hover {
          width: 12px;
        }

        .chat__display-scroll::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 15px;
        }

        .chat__display-scroll::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 5px;
        }

        .chat__display-scroll::-webkit-scrollbar-thumb:hover {
          background: #555;
          cursor: pointer;
        }
    /*  ---  End Scroll Bar  ---  */

    /*  ---  Chat Message Styles  ---  */
        .chat__messages {
          display: flex;
          margin-bottom: 5px;

        }

        .chat__messages-rec {
          justify-content: start;
        }

        .chat__messages-sent {
          margin-right: 15px;
          justify-content: end;
        }

        .chat__bubble {
          border-radius: 10px;
          max-width: 45%;
          min-width: 10%;
        }

        .chat__content {
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 100%;
        }

        .chat__area {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-self: start;
          text-align: left;
          color: white;
        }


        .chat__bubble-sent {
          background-color: #1565c0;
        }

        .chat__bubble-rec {
          background-color: #757575;
        }

        .chat__text {
          font-size: 12px;
          color: #bdbdbd;
        }

        .chat__text-message {
          font-size: 15px;
          margin-bottom: 0;
          color: white;
        }

        .chat__text-author {
          margin: 0;
          padding: 0;
        }

        .chat__footer {
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding: 0 1px 0 0;
          width: 100%;
          font-size: 10px;
        }

        .chat__timestamp {
          color: #bdbdbd;
          width: 100%;
          text-align: right;
        }
    /*  ---  End Chat Message  ---  */
/*  END CHAT AREA  */

/*  CHATROOM DISPLAY  */
    .chatroom__display {
      width: 77%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .chatroom__container {
      border-radius: 10px;
      background-color: #262B33;
      width: 70%;
      min-width: 675px;
      height: 95%;
      max-height: 98vh;
    }

    .chatroom__heading {
      /*height: 15%;*/
      display: flex;
      justify-content: center;
    }

    .chatroom__title {
      color: white;
    }

    .chatroom__input {
      display: flex;
      align-items: center;
      height: 10%;
      width: 90%
    }
/*  END CHATROOM DISPLAY  */